{% include 'emails/include/html_open.html.twig' %}

{% include 'emails/include/hello.html.twig' %}

<p>děkujeme za registraci na webu <a href="{{ base_uri }}">{{ host }}</a>.</p>

<p>Váš účet prozatím není aktivní. Jeho aktivaci můžete provést kliknutím na následující odkaz: <a href="{{ link }}">{{ link }}</a>.</p>

{% include 'emails/include/best_regards.html.twig' %}

{% include 'emails/include/html_close.html.twig' %}
